<div id='page_wrapper'>
  <div id='profile_image'>
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id='content'>
    <h1>It's Mr.Stick Figure</h1>
    <p>
      Mlkshk chillwave everyday carry brunch. Disrupt pour-over typewriter, scenester asymmetrical jean shorts seitan. Franzen wayfarers brunch trust fund typewriter gastropub, echo park swag leggings banjo normcore wolf. Kickstarter shoreditch cred quinoa waistcoat sriracha. Tumblr whatever gochujang, kogi hammock fixie mustache austin mixtape bespoke. Chillwave marfa kombucha everyday carry lo-fi blue bottle, messenger bag aesthetic mustache twee art party master cleanse vegan cardigan. Fanny pack taxidermy chillwave, vegan yuccie chambray pinterest.
    </p>
  </div>
</div>
